@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-primary: #0f262b;
  --color-secound: #0c1321;
  --color-third: #1b312e;
  --color-fourth: #bf8c6d;
  --color-fifth: #8f92a1;
}

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "meduim";
  src: url("../fonts/Somar-Medium.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: rtl;
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
ul {
  list-style: none;
}

.form-control {
  border-radius: 8px !important;
  background-color: var(--color-fifth) !important;
  padding-right: 9%;
  background-color: #f5f5f5 !important;
  color: var(--iconcolor);
  font-family: "regular";
}
.form-select {
  border-radius: 8px !important;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: #f5f5f5;
  color: var(--iconcolor);
  background-position: left;
  position: relative;
}
.form-control:focus {
  color: var(--iconcolor);
}
.form-control:focus,
.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}
.form-control::placeholder {
  color: var(--iconcolor) !important;
  font-family: "regular" !important;
}
input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";
}
input[type="data"]::placeholder {
  content: "";
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}
select:focus {
  box-shadow: unset !important;
}
/* delete arrow from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--color-light);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-seven);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-fifth);
}

/* scroll bar */
/* start preloader */
#preloader {
  background-image: url(../image/Double\ Ring-1s-204px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background2);
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}
/* finish preloader */
/* start darg to up */
#button {
  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  i {
    color: #fff;
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    i {
      color: var(--color-fourth);
    }

    cursor: pointer;
    background-color: transparent;
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
/* start darg to up */
