@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-primary: #0f262b;
  --color-secound: #6c6c70;
  --color-third: #9fb9bf;
  --color-fourth: #dbe5ef;
  --color-fifth: #b8c7d5;
  --background: #ffffff;
  --color-six: #193e46;
}

@font-face {
  font-family: "light";
  src: url("../fonts/Almarai-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Almarai-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Almarai-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: rtl;
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}
.form-label {
  display: block;
  font-size: 1rem;
  color: var(--color-primary);
  font-family: "regular";
  width: 100%;
}
.form-control,
.selectpicker {
  border-radius: 8px;
  padding-right: 2%;
  background-color: var(--background);
  font-family: "regular";
  width: 92%;
}
.form-select {
  border-radius: 8px;
  padding: 0.54rem 1.4rem;
  font-family: "regular";
  font-size: 0.8rem;
  background-color: var(--background);
  color: var(--color-primary);
  background-position: left;
  width: 92%;
  position: relative;
}
.form-control:focus {
  color: var(--color-fifth);
}
.form-control:focus,
.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}
.form-control::placeholder {
  color: var(--color-primary) !important;
  font-family: "regular" !important;
  font-size: 0.8rem;
}
input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";
}
input[type="data"]::placeholder {
  content: "";
}
::-webkit-calendar-picker-indicator {
  background-color: var(--color-fourth);
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}
select:focus {
  box-shadow: unset !important;
}
/* delete arrow from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--color-fourth);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-fifth);
  &:hover {
    background: var(--color-six);
  }
}
/* scroll bar */
// custom sections
.trans {
  transition: 0.3s all ease;
}
.first {
  font-size: 0.8rem;
  background-color: var(--color-six);
  font-family: "regular";
  color: var(--background);
  border: 1px solid var(--background);
  border-radius: 8px;
  padding: 2% 10px;
  width: 30%;
  &:hover {
    background-color: var(--background);
    color: var(--color-six);
    border-color: var(--color-six);
  }
}

.second,
.btn-outline-primary {
  font-size: 0.8rem;
  color: var(--color-six);
  font-family: "regular";
  background-color: var(--background);
  border: 1px solid var(--color-six);
  border-radius: 8px;
  padding: 2% 10px;
  width: 30%;
  &:hover {
    color: var(--background);
    background-color: var(--color-six);
  }
}
.head-primary {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-primary);
}
// custom sections
/* start preloader */
#preloader {
  // background-image: url(../image/Double\ Ring-1s-204px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-primary);
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}
/* finish preloader */
/* start darg to up */
#button {
  display: inline-block;
  background-color: var(--color-six);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-six);
  animation: move-toggs 3s linear infinite;

  @keyframes move-toggs {
    0% {
      bottom: 40px;
    }
    25% {
      bottom: 20px;
    }
    50% {
      bottom: 10px;
    }
    75% {
      bottom: 20px;
    }
    100% {
      bottom: 40px;
    }
  }
  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  i {
    color: #fff;
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    i {
      color: var(--color-fourth);
    }

    cursor: pointer;
    background-color: transparent;
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
/* start darg to up */
// start main index
.main-tabs {
  position: relative;
  background-color: #f7f7f7;
  .nav-main {
    flex: 1;
    padding: 0;
    margin: 0;
    .nav-item {
      .nav-link.active {
        background-color: transparent;
        border-bottom: 2px solid #87a4aa;
        border-radius: 0px;
        .content-list {
          h6 {
            font-family: "bold";
          }
        }
      }
      .nav-link {
        padding: 1.5rem 1.2rem;

        .content-list {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            width: 30px;
            height: 30px;
            margin-bottom: 3%;
          }
          h6 {
            font-family: "regular";
            color: var(--color-primary);
            font-size: 0.8rem;
            padding-top: 5%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .login-logo {
    position: relative;
    background-color: var(--color-six);
    border-bottom: 1px solid var(--background);
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1% 0;
      .logo {
        img {
          width: 128px;
          height: 47px;
        }
      }
      .login {
        width: 50%;
      }
    }
  }
  .notficatin-advers {
    position: relative;
    background-color: var(--color-six);
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1% 0;
      .notfication {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 0;
        li {
          margin-left: 13%;
          a {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .adverts {
        width: 50%;
        text-align: end;
      }
    }
  }
  .tab-content {
    padding: 4% 0;
    .filter-search {
      background-color: var(--background);
      padding: 4% 1%;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 4% 1%;
        h5 {
          font-family: "bold";
          cursor: pointer;
          color: var(--color-six);
        }
      }
      .accordion {
        padding-bottom: 9%;
        border-bottom: 1px solid var(--color-fifth);
        .accordion-button {
          padding: 1rem 0.25rem;
          font-size: 1rem;
          color: var(--color-primary);
          font-family: "bold";

          &::after {
            margin-left: 1px;
            margin-right: auto;
            width: 0.8rem;
            height: 1rem;
            background-size: 0.8rem;
          }
          &:not(.collapsed) {
            background-color: transparent;
            box-shadow: unset;
          }
        }
        .accordion-body {
          padding: 0;
          .content {
            display: flex;
            justify-content: start;
            flex-direction: column;
            height: 200px;
            overflow-y: scroll;
            .form-check {
              margin-bottom: 8%;
              padding-left: 1%;
              .form-check-label {
                margin-right: 10%;
                font-size: 0.8rem;
              }
              .form-check-input {
                float: right;
                &:checked {
                  background-color: var(--color-six);
                  border-color: var(--color-six);
                }
              }
            }
          }
        }
        .year-design,
        .price-range {
          .content {
            height: 50px;
            overflow-y: hidden;
            .input-group {
              display: flex;
              justify-content: start;
              align-items: flex-start;
              flex-direction: row;
              .form-select,
              .form-control {
                width: 11%;
                margin-left: 4%;
                border-radius: 0px !important;
              }
            }
          }
        }
      }
    }
    .search-box {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;
      .form-control {
        width: 73%;
        padding-left: 2%;
        margin-left: 2%;
        border: 1px solid var(--background);
      }
      .first {
        width: 25%;
        padding: 1% 0;
      }
    }
    .nav-old-new {
      margin-top: 4%;
      .nav-item {
        width: 45%;
        .nav-link.active {
          color: var(--background);
          background-color: var(--color-six);
        }
        .nav-link {
          width: 100%;
          font-size: 1.25rem;
          font-family: "bold";
          background-color: var(--background);
          color: var(--color-six);
          i {
            margin-left: 3%;
          }
        }
      }
    }
    .filter-tabel {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 5% 0;
      .form-select {
        width: 20%;
        margin-left: 1%;
        border-radius: 0;
      }
      .btn-outline-primary {
        padding: 5px 0;
        width: 10%;
        margin-left: 1%;
        font-size: 0.8rem;
        border-radius: 0;
      }
    }
    .filter-brand {
      background-color: var(--background);
      .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          .img {
            padding: 25% 1%;
            img {
              display: block;
              cursor: pointer;
              width: 83px;
              height: 36px;
              object-fit: cover;
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          &::after {
            opacity: 0;
          }
          i {
            color: var(--color-primary);
            background-color: white;
          }
        }
      }
    }
    .filter-brand-type {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5% 0;
      div {
        margin-left: 3%;
        width: 11%;
        .btn-outline-primary {
          width: 100%;
          border: none;
          padding: 11% 0%;
          border-radius: 0;
        }
      }
    }
  }
  .tab-product {
    .box-content {
      background-color: var(--background);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 5%;
      padding: 2% 1%;
      .first-col {
        .info {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          flex-direction: column;
          h4 {
            font-size: 1rem;
            color: var(--color-primary);
            font-family: "bold";
            padding-bottom: 3%;
          }
          span {
            font-size: 0.75rem;
            color: var(--color-fourth);
            font-family: "light";
          }
          p {
            font-size: 0.8rem;
            color: var(--color-primary);
            font-family: "regular";
            padding-top: 9%;
          }
        }
      }
      .sec-col {
        p {
          font-size: 0.8rem;
          color: var(--color-primary);
          font-family: "regular";
          padding-top: 9%;
        }
      }
      .third-col {
        .image {
          position: relative;
          img {
            width: 230px;
            height: 125px;
          }
          .heart {
            position: absolute;
            top: 5%;
            left: 5%;
            img {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
            img.active-heart {
              opacity: 0.5;
            }
          }
        }
      }
    }

    /* start pagination */
    .pagination {
      .page-item {
        .page-link {
          border: 1px solid transparent;
          background-color: transparent;
          margin: 0 6px;
          color: var(--color-primary);
          font-family: "bold";
          &:focus {
            box-shadow: unset !important;
          }
          &:hover {
            background: var(--color-primary);
            color: white;
          }
        }
      }
      .page-item.active {
        .page-link {
          border-radius: 5px;
          border-color: var(--color-six);
        }
      }
      .btn {
        margin-right: 230%;
        width: 145%;
        padding: 8% 5%;
      }
    }
    /* finish pagination */
  }
  // start product page
  .main-product {
    background-color: var(--background);
    .layout {
      padding: 40px 0;
      .head {
        font-size: 0.8rem;
        font-family: "light";
        color: #141414;
      }
      .content {
        h2 {
          font-size: 2.4rem;
          font-family: "bold";
          color: var(--color-six);
        }
        .notes {
          display: inline-block;
          color: var(--color-primary);
          font-size: 0.8rem;
          font-family: "regular";
          width: 100%;
          p {
            display: inline-block;
            margin-left: 5%;
          }
        }
        .rates {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          padding: 2% 0;
          .bi-star-fill {
            color: #f69504;
          }
          .bi-star-fill.r {
            color: #7a797a;
          }
          i {
            margin-left: 1%;
          }

          span {
            font-size: 0.7rem;
            color: var(--color-primary);
            font-family: "regular";
          }
        }
        .main-image {
          width: 736px;
          height: 500px;
        }
        .detials-button {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          flex-direction: row;
          flex: 1;
          .btn {
            border-radius: 0px;
            i {
              margin-left: 2%;
            }
          }
        }
        .detials-text {
          padding: 30px 0 10px;
          h6 {
            font-size: 1rem;
            color: var(--color-primary);
            font-family: "bold";
            padding-bottom: 4%;
          }
          p {
            font-size: 0.9rem;
            color: var(--color-primary);
            font-family: "regular";
          }
        }
        .detials-info {
          ul {
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            li {
              border: 1px solid #a9a9a9;
              width: 45%;
              padding: 2%;
              font-family: "light";
              font-size: 0.8rem;
              color: #5c5a61;
              sapn {
              }
            }
          }
        }
        .image-product {
          padding: 3% 0;
          display: flex;
          justify-content: start;
          flex-direction: column;
          h6 {
            font-size: 1rem;
            color: var(--color-primary);
            font-family: "bold";
            padding-bottom: 4%;
          }
          img {
            width: 736px;
            height: 263px;
            margin-bottom: 3%;
          }
        }
        .price {
          padding: 0% 0% 2%;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          .btn {
            border-radius: 0;
            &:first-child {
              width: 38%;
              font-family: "regular";
              margin-left: 2%;
            }
            &:last-child {
              width: 60%;
            }
          }
        }
        .comment-user {
          padding: 3% 0 3%;
          h4 {
            font-size: 1.2rem;
            color: var(--color-primary);
            font-family: "bold";
          }
          .card {
            border-color: #8d8d8d;
            padding: 1% 2%;
            border-radius: 0px;
            .head {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              padding-top: 5%;
              .first-h {
                display: flex;
                justify-content: start;
                align-items: flex-start;
                flex-direction: row;
                width: 50%;
                img {
                  width: 60px;
                  height: 60px;
                }
                .text {
                  margin-right: 2%;
                  h6 {
                    font-size: 0.9rem;
                    font-family: "bold";
                    color: var(--color-primary);
                    width: 100%;
                  }
                  span {
                    color: #6c6c70;
                    font-size: 0.7rem;
                    font-family: "light";
                  }
                }
              }
              .second-h {
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: row;
                img {
                  margin: 0 7%;
                  width: 30px;
                  height: 30px;
                  cursor: pointer;
                }
              }
            }
            .content {
              padding: 2% 0;
              p {
                font-size: 0.9rem;
                color: var(--color-primary);
                font-family: "regular";
              }
            }
            .footer {
              position: relative;
              padding: 1% 0 2%;
              .form-control {
                background-color: #f7f7f7;
                border-color: transparent;
                border-radius: 0px;
              }
              .share {
                position: absolute;
                top: -48%;
                left: 2%;
                i {
                  color: #c4c4c4;
                }
              }
            }
          }
          .btn {
            margin-top: 5%;
          }
        }
        .send-comment {
          textarea {
            background-color: #f7f7f7;
            height: 150px;
          }
          div {
            text-align: end;
            width: 100%;
            padding: 2% 0 1%;
            .btn {
              i {
                margin-right: 1%;
              }
            }
          }
        }
      }
    }
    .anather-advers {
      padding: 82px 0 40px;
      h4 {
        font-size: 1.2rem;
        color: var(--color-primary);
        font-family: "bold";
        padding-bottom: 4%;
      }
      .card {
        border: 1px solid #707070;
        padding: 2% 1%;
        margin-bottom: 4%;
        .content {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          flex-direction: row;
          img {
            width: 129px;
            height: 107px;
          }
          .text {
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 2%;
            h6 {
              font-size: 0.8rem;
              color: var(--color-primary);
              font-family: "bold";
            }
            span {
              font-size: 0.6rem;
              color: var(--color-six);
              font-family: "light";
              margin-bottom: 4%;
            }
          }
          .info {
            font-size: 0.8rem;
            color: var(--color-secound);
            font-family: "light";
            display: flex;
            justify-content: start;
            flex-direction: row;
            padding: 2% 0;
            width: 100%;
            p {
              padding-right: 2%;
            }
          }
        }
      }
      .more {
        text-align: center;
        width: 100%;
        padding-top: 2%;
        margin-bottom: 8%;
        .btn {
          border-radius: 0px;
        }
      }
    }
  }
  // finish product page
}
// finish main index

// strat new advertsment
.new-adver {
  background-color: var(--background);
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  .form-step-active {
    padding: 40px 0px 10px;
    display: flex;
    flex-direction: column;
    .head {
      text-align: start;
      h2 {
        font-size: 2.2rem;
        color: var(--color-primary);
        font-family: "bold";
      }
      span {
        font-size: 0.9rem;
        color: var(--color-secound);
        font-family: "light";
      }
    }
    .nav {
      padding-top: 2%;
      .nav-item {
        width: 45%;
        margin: 1%;
        .nav-link {
          font-size: 1rem;
          color: var(--color-secound);
          font-family: "regular";
          width: 100%;
          border: 1px solid #8d8d8d;
          border-radius: 0px;
          margin-left: 1%;
        }
        .nav-link.active {
          background-color: var(--color-six);
          color: var(--background);
          border: 1px solid var(--color-six);
        }
      }
    }
    .tab-content {
      .card {
        width: 100%;
        padding: 20px 5px;
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        label.box {
          width: 45%;
          margin: 12px 5px;
          padding: 10px 5px;
          display: flex;
          border-radius: 5px;
          border: 1px solid var(--color-secound);
          cursor: pointer;
          transition: all 0.25s ease;
          &:hover {
            border-color: var(--color-six);
          }
          .circle {
            height: 22px;
            width: 22px;
            background: white;
            border: 1px solid var(--color-secound);
            display: inline-block;
            margin-right: 3px;
            margin-left: 9px;
            border-radius: 5px;
            transition: all 0.25s ease;
          }
          .plan {
            display: flex;
            width: 100%;
            align-items: start;
            flex-direction: row;
            .text {
              display: flex;
              justify-content: start;
              flex-direction: row;
              align-items: center;
              width: 80%;
              h6 {
                font-size: 1rem;
                color: var(--color-secound);
                font-family: "regular";
              }
            }
          }
        }
        #one:checked ~ label.first-rad,
        #two:checked ~ label.second {
          border-color: var(--color-six);
        }
        #one:checked ~ label.first .head .btn,
        #two:checked ~ label.second .head .btn {
          background-color: white;
          color: var(--color-primary);
        }
        #one:checked ~ label.first-rad .circle,
        #two:checked ~ label.second .circle {
          border-color: var(--color-six);
        }
        input[type="radio"] {
          display: none;
        }
      }
    }

    .full .btn {
      background-color: var(--color-primary);
      color: var(--color-secound);
      font-family: "regular";
      font-size: 18px;
      padding: 2% 8%;
      width: 83%;
      transition: 0.25s all ease;
      border: 1px solid var(--color-primary);
    }
    // start commission
    .commision {
      .head {
        h2 {
          font-size: 2.2rem;
          color: var(--color-primary);
          font-family: "bold";
        }
        sapn {
          font-size: 1.4rem;
          color: var(--color-secound);
          font-family: "light";
        }
      }
      .quraan {
        padding: 2% 1%;
        margin: 1% 0;
        border: 1px solid var(--color-secound);

        span {
          font-size: 1rem;
          color: var(--color-secound);
          font-family: "light";
        }
        h5 {
          font-size: 1.2rem;
          color: var(--color-primary);
          font-family: "bold";
          padding-top: 2%;
        }
      }
      .swer {
        padding-top: 2%;
        .form-check {
          margin-bottom: 1%;
          .form-check-input {
            float: right;
            margin-right: 0.5em;
            margin-left: 0;
            &:checked {
              background-color: var(--color-six);
              border-color: var(--color-six);
            }
          }
          .form-check-label {
            font-size: 1.2rem;
            color: var(--color-primary);
            font-family: "regular";
            padding-right: 1%;
          }
        }
        span {
          color: #d56464;
          font-size: 0.8rem;
          font-family: "light";
        }
      }
      .notice {
        display: flex;
        padding: 1% 12px;
        background-color: #f7f7f7;
        color: var(--color-six);
        margin-top: 2%;
        p {
          font-size: 1rem;
          font-family: "regular";
        }
      }
    }
    // end commission
    .button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 3%;
      padding-bottom: 4%;
      .btn {
        padding: 1% 10px;
        width: 19%;
      }
    }
    .adver-detials,
    .location-detials,
    .user-detials {
      margin-bottom: 2%;
      position: relative;
      border-bottom: 1px solid var(--color-fourth);
      padding-bottom: 5%;
      h2 {
        font-size: 1.9rem;
        color: var(--color-primary);
        font-family: "bold";
        padding-bottom: 2%;
      }
      .input-group {
        margin-bottom: 2%;
        textarea {
          height: 109px;
          background-color: #f7f7f7;
        }
      }
      .upl {
        position: relative;
        .profile-pic-div {
          height: 100px;
          width: 100px;
          position: absolute;
          top: 7%;
          left: -24%;
          transform: translate(0, 6%);
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid grey;
        }

        #photo {
          height: 100%;
          width: 100%;
        }

        #file {
          display: none;
        }

        #uploadBtn {
          height: 40px;
          width: 100%;
          position: absolute;
          bottom: -220px;
          font-family: "regular";
          left: 40%;
          transform: translateX(-50%);
          text-align: center;
          background: transparent;
          color: var(--color-fourth);
          font-size: 14px;
          border: 1px solid var(--color-fourth);

          /* line-height: 30px; */
          cursor: pointer;
          border-radius: 5px;
          transition: 0.25s all ease;

          /* display: none; */

          &:hover {
            opacity: 0.5;
          }

          h6 {
            font-size: 13px;
            margin: auto;
            padding-top: 11%;
          }
        }
      }
      .upload-sec {
        background-color: #f7f7f7;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 18%;
        margin: 1%;
        h6 {
          color: var(--color-six);
          font-size: 0.8rem;
          font-family: "bold";
        }
        p {
          color: var(--color-secound);
          font-size: 0.6rem;
          font-family: "light";
        }
      }
      /* upload */

      .form-check-input {
        float: right;
        margin-right: 0.5em;
        margin-left: 0;
        &:checked {
          background-color: var(--color-six);
          border-color: var(--color-six);
        }
      }
      .form-check-label {
        font-size: 0.9rem;
        color: var(--color-primary);
        font-family: "regular";
        padding-right: 1%;
      }
    }
  }
}
// finish new advertsment
// start modal adver
.modal-advertis {
  .modal-body {
    .content {
      padding: 4% 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        font-size: 1.5rem;
        color: var(--color-primary);
        font-family: "bold";
      }
      p {
        font-size: 1rem;
        color: var(--color-secound);
        font-family: "regular";
      }
      .btn {
        width: 100%;
        margin-top: 2%;
      }
    }
  }
}
// finish modal adver

//start login form
.login {
  background-color: var(--color-light);
  form {
    margin: 5rem auto;
    padding: 3rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    width: 50%;
    h2 {
      font-family: "bold";
      color: var(--color-primary);
      margin: 1rem 0;
    }
    p {
      font-family: "light";
      color: var(--color-secound);
      margin-bottom: 4%;
    }
    .input-group {
      margin-bottom: 4%;
      .eye-login {
        position: absolute;
        top: 22%;
        left: 3%;
        z-index: 900;
        i {
          color: var(--color-primary);
        }
      }
    }
    .d-flex {
      width: 100%;
      margin: 2%;
      .form-check {
        margin: 0;
        width: 49%;
        .form-check-label {
          display: flex;
          align-items: center;
          font-family: "regular";
          color: var(--color-primary);
          .form-check-input {
            float: right;
            margin-left: 0.5em;
            margin-top: 0;
            &:checked {
              background-color: var(--color-six);
              border-color: var(--color-six);
            }
          }
        }
      }
      .forget_btn {
        width: 49%;
        text-align: end;
        display: inline-block;
        text-decoration: none;
        font-family: "regular";
        color: var(--color-primary);
      }
    }
    .btn {
      width: 100%;
      margin: 1% 0 3%;
    }
  }
}
//finish login form

//reset pasword
.reset_password {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .password_container {
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 6rem;
    width: 50%;
    h3 {
      text-align: center;
      font-family: "bold";
      color: var(--color-primary);
    }
    p {
      text-align: center;
      width: 70%;
      font-size: 1.1rem;
      margin: 3% auto 5%;
      font-family: "light";
      color: var(--color-secound);
      span {
        color: var(--color-primary);
        font-family: "regular";
      }
    }

    .input-group {
      margin-bottom: 4%;
      .eye-login {
        position: absolute;
        top: 22%;
        left: 3%;
        z-index: 900;
        i {
          color: var(--color-primary);
        }
      }
    }
    .form-group.number_code {
      margin: 0 0.5%;
      width: 100%;
      input {
        width: 15%;
        display: inline-block;
        height: 60px;
        text-align: center;
        font-size: 2rem;
      }
    }
    .btn {
      width: 100%;
      margin-top: 4%;
    }
  }
}
//reset pasword

// black list page
.list-collection {
  background-color: var(--background);
  padding: 3% 1%;
  text-align: start;
  h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-family: "bold";
    margin-bottom: 2%;
  }
  h4 {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: "bold";
  }
  p {
    color: var(--color-secound);
    font-size: 1.2rem;
    font-family: "regular";
    margin-bottom: 4%;
  }
  .accordion {
    .accordion-item {
      .accordion-button {
        background-color: var(--background);
        &::after {
          margin-left: 1px;
          margin-right: auto;
        }
      }
      .accordion-header {
        color: var(--color-primary);
      }
    }
  }
  .anather-qustion {
    padding-top: 5%;
    h4 {
      font-size: 1.2rem;
      color: var(--color-primary);
    }
    p {
      font-size: 0.8rem;
      color: var(--color-secound);
      font-family: "regular";
      padding: 0 27%;
    }
  }
}
// black list page

//contavt page
.contact-us {
  margin: 2% 0;
  padding: 3% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .content {
    padding: 3% 1%;
    width: 80%;
    margin: auto;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 1.4rem;
      font-family: "bold";
      color: var(--color-primary);
    }
    .search {
      position: relative;
      width: 77%;
      margin: 2% auto;
      .form-control {
        background-color: #f7f7f7;
        color: #c4c4c4;
        border: 1px solid transparent;
        width: 100%;
        &::placeholder {
          color: #c4c4c4;
        }
      }
      span {
        position: absolute;
        top: 28%;
        left: 2%;
        cursor: pointer;
        i {
          color: #c4c4c4;
        }
      }
    }
    form {
      text-align: start;
      width: 67%;
      padding-top: 4%;
      h2 {
        margin-bottom: 3%;
        font-size: 1.1rem;
      }
      .input-group {
        margin-bottom: 3%;
        .form-label {
          font-size: 1rem;
        }
        .form-control,
        .form-select {
          border-radius: 0px;
        }
        textarea {
          height: 150px;
        }
      }
      .file-upload-wrapper {
        position: relative;
        width: 100%;
        height: 150px;
        border: 1px dashed #f7f7f7;
        border-radius: 0px;
        font-family: "regular";
        &:after {
          content: attr(data-text);
          font-size: 1rem;
          position: absolute;
          top: 0;
          left: 0;
          background: #f7f7f7;
          padding: 10px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% - 40px);
          pointer-events: none;
          z-index: 20;
          height: 100%;
          width: 100%;
          line-height: 40px;
          color: #999;
          border-radius: 5px 10px 10px 5px;
          font-weight: 300;
        }
        input {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 99;
          height: 100%;
          margin: 0;
          padding: 0;
          display: block;
          cursor: pointer;
          width: 100%;
        }
      }
      .button {
        width: 100%;
        text-align: center;
        margin: 7% auto 2%;
      }
    }
  }
}

//contavt page

//person  account
.account-person {
  background-color: var(--background);
  padding: 5% 0;
  .x {
    border: 1px solid #8d8d8d;
    .head {
      background-image: url(../image/cover.png);
      background-position: center;
      background-size: cover;
      height: 300px;
      position: relative;
      span {
        position: absolute;
        left: 3%;
        top: 5%;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        filter: brightness(0.14);
        -webkit-filter: brightness(0.14);
        i {
          color: var(--background);
        }
      }
      .pp {
        position: absolute;
        bottom: -20%;
        right: 1%;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
    }
    .content {
      padding: 1% 1% 3%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: row;
      .info {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .rates {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 2% 0;
          .bi-star-fill {
            color: #f69504;
          }
          .bi-star-fill.r {
            color: #7a797a;
          }
          i {
            margin-left: 1%;
          }

          span {
            font-size: 0.7rem;
            color: var(--color-primary);
            font-family: "regular";
          }
        }
        .notes {
          width: 100%;
          p {
            font-size: 1rem;
            color: var(--color-primary);
            font-family: "light";
            i {
              color: #707070;
              margin-left: 1%;
            }
            span {
              font-size: 1.1rem;
              font-family: "regular";
            }
          }
        }
      }
      .button {
        width: 40%;
        text-align: end;
      }
    }
  }
  .y {
    padding-top: 3%;
    .nav-pills {
      border-bottom: 1px solid #707070;
      li {
        .nav-link {
          font-family: "regular";
          font-size: 1rem;
          color: var(--color-secound);
          border-radius: 0px;
        }
        .nav-link.active {
          background-color: var(--background);
          color: var(--color-primary);

          border-bottom: 1px solid var(--color-primary);
        }
      }
    }
    .tab-pane {
      .box-content {
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5%;
        padding: 2% 1%;
        .first-col {
          .info {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            h4 {
              font-size: 1rem;
              color: var(--color-primary);
              font-family: "bold";
              padding-bottom: 3%;
            }
            span {
              font-size: 0.75rem;
              color: var(--color-secound);
              font-family: "light";
            }
            p {
              font-size: 0.8rem;
              color: var(--color-primary);
              font-family: "regular";
              padding-top: 9%;
              &:last-child {
                font-size: 1.1rem;
                font-family: "bold";
              }
            }
          }
        }
        .sec-col {
          p {
            font-size: 0.8rem;
            color: var(--color-primary);
            font-family: "regular";
            padding-top: 9%;
          }
        }
        .third-col {
          .image {
            position: relative;
            img {
              width: 230px;
              height: 125px;
            }
            .heart {
              position: absolute;
              top: 5%;
              left: 5%;
              img {
                width: 20px;
                height: 20px;
                cursor: pointer;
              }
              img.active-heart {
                opacity: 0.5;
              }
            }
          }
        }
      }
      .review {
        padding-top: 3%;
        .empty-review {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            width: 8.313rem;
            height: 6.688rem;
          }
          h4 {
            font-size: 1.5rem;
            color: var(--color-primary);
            font-family: "bold";
            margin-top: 5%;
          }
        }
        .exist-review {
          .user-review {
            h4 {
              font-size: 1rem;
              color: var(--color-primary);
              font-family: "bold";
            }
            .rates {
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: row;
              padding: 2% 0 7%;
              .bi-star-fill {
                color: #f69504;
                font-size: 1.3rem;
              }
              .bi-star-fill.r {
                color: #7a797a;
              }
              i {
                margin-left: 1%;
              }

              span {
                font-size: 0.7rem;
                color: var(--color-secound);
                font-family: "regular";
                margin-right: 2%;
              }
            }
            .row {
              h6 {
                color: var(--color-six);
                font-size: 0.8rem;
                font-family: "bold";
              }
              .progress {
                border-radius: 0px;
                .progress-bar {
                  background-color: #f69504;
                }
              }
            }
          }
          .all-rates {
            padding: 0 9%;
            h4 {
              font-size: 1rem;
              color: var(--color-primary);
              font-family: "bold";
            }
            .box {
              padding: 3% 0;
              .head {
                display: flex;
                justify-content: start;
                align-items: flex-start;
                flex-direction: row;
                img {
                  margin-left: 2%;
                  width: 70px;
                  height: 70px;
                }
                .text {
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  justify-content: start;
                  p {
                    color: #11100f;
                    font-size: 1rem;
                    font-family: "regular";
                  }
                  .rates {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    flex-direction: row;
                    padding: 2% 0 7%;
                    .bi-star-fill {
                      color: #f69504;
                      font-size: 0.5rem;
                    }
                    .bi-star-fill.r {
                      color: #7a797a;
                    }
                  }
                  span {
                    color: #11100f;
                    font-size: 0.8rem;
                    font-family: "light";
                  }
                }
              }
              .content {
                padding-top: 4%;
                p {
                  color: #11100f;
                  font-size: 0.9rem;
                  font-family: "light";
                }
              }
            }
            .button {
              margin-top: 5%;
              .btn {
                padding: 1%;
                width: 22%;
              }
            }
          }
        }
      }
    }
    .exist-review {
      .user-review {
        h4 {
          font-size: 1rem;
          color: var(--color-primary);
          font-family: "bold";
        }
        .rates {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: row;
          padding: 2% 0 7%;
          .bi-star-fill {
            color: #f69504;
            font-size: 1.3rem;
          }
          .bi-star-fill.r {
            color: #7a797a;
          }
          i {
            margin-left: 1%;
          }

          span {
            font-size: 0.7rem;
            color: var(--color-secound);
            font-family: "regular";
            margin-right: 2%;
          }
        }
        .row {
          h6 {
            color: var(--color-six);
            font-size: 0.8rem;
            font-family: "bold";
          }
          .progress {
            border-radius: 0px;
            .progress-bar {
              background-color: #f69504;
            }
          }
        }
      }
      form {
        padding: 0 9%;
        h4,
        .form-label {
          color: var(--color-primary);
          font-size: 1rem;
          font-family: "bold";
        }
        .add-rate {
          padding: 2% 0;
          .rates {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 2% 0 7%;
            .bi-star-fill {
              color: #f69504;
              font-size: 2rem;
            }
            .bi-star-fill.r {
              color: #d1d1d1;
            }
            i {
              margin-left: 1%;
            }
          }
        }
        .ewxprince {
          padding: 2% 0;
          textarea {
            height: 150px;
          }
        }
        .advice {
          padding: 2% 0;
          .content {
            display: flex;
            flex-direction: row;
            label.box {
              width: 45%;
              margin: 1%;
              background: white;
              color: var(--color-secound);
              margin-top: 12px;
              padding: 10px 5px;
              display: flex;
              border-radius: 5px;
              border: 1px solid var(--color-secound);
              cursor: pointer;
              transition: all 0.25s ease;
              &:hover {
                /* background: var(--color-primary);
              color: white !important; */
              }
              .circle {
                height: 22px;
                width: 22px;
                background: white;
                border: 5px solid var(--color-primary);
                display: none;
                margin-right: 3px;
                margin-left: 9px;
                border-radius: 50%;
                transition: all 0.25s ease;
              }
              .plan {
                display: flex;
                width: 100%;
                padding: 10% 1%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .text {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                  i {
                    color: #8e8e93;
                    font-size: 30px;
                  }
                  p {
                    margin-top: 3%;
                    color: #8e8e93;
                    font-size: 1rem;
                    font-family: "bold";
                  }
                }
              }
            }
            #one:checked ~ label.first,
            #two:checked ~ label.second {
              border-color: var(--color-primary);
              background: var(--color-primary);
              color: white;
              p {
                color: white;
              }
              .circle {
                border-color: white;
                background: var(--color-secound);
              }
            }
            input[type="radio"] {
              display: none;
            }
          }
        }
        .buy {
          padding: 2% 0;
          .content {
            display: flex;
            flex-direction: row;
            label.box {
              width: 45%;
              margin: 1%;
              background: white;
              color: var(--color-secound);
              margin-top: 12px;
              padding: 10px 5px;
              display: flex;
              border-radius: 5px;
              border: 1px solid var(--color-secound);
              cursor: pointer;
              transition: all 0.25s ease;
              &:hover {
                /* background: var(--color-primary);
              color: white !important; */
              }
              .circle {
                height: 22px;
                width: 22px;
                background: white;
                border: 1px solid var(--color-primary);
                display: inline-block;
                margin-right: 3px;
                margin-left: 9px;
                border-radius: 50%;
                transition: all 0.25s ease;
              }
              .plan {
                display: flex;
                width: 100%;
                padding: 3% 1%;
                align-items: center;
                justify-content: start;
                flex-direction: row;
                .text {
                  p {
                    color: #8e8e93;
                    font-size: 1rem;
                    font-family: "bold";
                  }
                }
              }
            }
            #one-f:checked ~ label.first,
            #two-f:checked ~ label.second {
              border-color: var(--color-primary);
              background: var(--color-primary);
              color: white;
              p {
                color: white;
              }
              .circle {
                border-color: white;
                background: var(--color-six);
              }
            }
            input[type="radio"] {
              display: none;
            }
          }
        }
        .button {
          margin-top: 3%;
          .btn {
            width: 35%;
          }
        }
      }
    }
  }
}

//person  account

//personal account
.account-personal {
  .header {
  }
  .tab-contents {
    padding: 5% 0;
    .nav-pills {
      width: 100%;
      background-color: #FAFAFA;
      .nav-item {
        width: 20%;
        padding: 7px 0;
        .nav-link{
          color: #6C6C70;
          font-family: 'regular';
        }
        .nav-link.active{
          background-color: white;
          color: var(--color-primary);
          font-size: 1.1rem;
          font-family: 'bold';
          border: 1px solid transparent;
          box-shadow: 0px 3px 6px rgba($color: #B4B4B4, $alpha: .16);
          border-radius: 5px;
        }
      }
    }
    .tab-content {
    }
  }
}
//personal account

//  start footer
footer {
  background-color: var(--background);
  padding: 7% 0 2%;
  .logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    img {
      width: 212px;
      height: 75px;
      margin-bottom: 5%;
    }
    p {
      color: var(--color-six);
      font-family: "light";
      size: 1rem;
      padding: 5% 0;
    }
    .social-icon {
      display: flex;
      justify-content: start;
      flex-direction: row;
      align-items: flex-start;
      li {
        margin-left: 8%;
        a {
          color: var(--color-primary);
          transition: 0.25s all ease;
          text-align: end;
          &:hover {
            color: var(--color-six);
          }
        }
      }
    }
  }
  .list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    li {
      margin-bottom: 9%;
      a {
        color: var(--color-primary);
        font-size: 0.8rem;
        font-family: "regular";
      }
    }
  }
  .app-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    a {
      margin-bottom: 5%;
      img {
        width: 50%;
      }
    }
  }
  .lower-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-fourth);
    padding-top: 3%;
    p {
      font-size: 1rem;
      font-family: "regular";
      color: #8e8e93;
    }
  }
}

//  finish footer
//  modal
#exampleModal,
#exampleModal1,
#exampleModal2,
#exampleModal3 {
  .modal-header {
    background-color: #9fb9bf;
    h5 {
      font-size: 1rem;
      color: var(--background);
      font-family: "bold";
      span {
        font-size: 0.8rem;
        font-family: "regular";
      }
    }
    .btn-close {
      margin: unset;
      filter: brightness(0) invert(1);
      opacity: 1;
    }
  }
  .modal-body {
    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2% 1%;
      li {
        width: 19%;
        margin-left: 1%;
        margin-bottom: 6%;
        a {
          img {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
    .copy {
      position: relative;
      p {
        font-size: 0.6rem;
        color: var(--color-six);
        font-family: "light";
        padding-bottom: 3%;
      }
      .form-control {
        background-color: #f7f7f7;
        &::placeholder {
          color: #818082 !important;
        }
      }
      span {
        position: absolute;
        top: 52%;
        left: 3%;
        img {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
    }
    h6 {
      font-size: 0.9rem;
      color: var(--color-six);
      font-family: "regular";
    }
    .detials {
      padding: 2% 1%;
      width: 100%;
      li {
        border: 1px solid #f7f7f7;
        width: 45%;
        margin: 0;
        padding: 2% 1%;
        font-size: 0.7rem;
        color: var(--color-secound);
        font-family: "light";
        span {
          font-size: 0.8rem;
          color: var(--color-primary);
          font-family: "regular";
          padding-right: 2%;
        }
      }
    }
    form {
      textarea {
        height: 200px;
        background-color: #f5f5f5;
      }
      .message {
        margin: 2% 1%;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 1px solid var(--color-six);
        .btn {
          border-color: transparent;
          border-radius: 0;
          i {
            font-size: 20px;
          }
        }
      }
    }
    .report {
      width: 100%;
      text-align: end;
      padding: 2% 0;
      .btn {
        border-radius: 0px;
        i {
          margin-left: 2%;
        }
      }
    }
  }
}
//  modal
